# Only track the Sublime Text config files I care about and ignore 
# the rest (easier said than done due to subdirectories)
sublime/.config/sublime-text-3/*
!sublime/.config/sublime-text-3/Packages
sublime/.config/sublime-text-3/Packages/*
!sublime/.config/sublime-text-3/Packages/User

# Only track minpac (as a submodule) and ignore all the other plugins
vim/.vim/pack/minpac/start/*
vim/.vim/pack/minpac/opt/*
!vim/.vim/pack/minpac/opt/minpac

# Packer.nvim compiled file
neovim/.config/nvim/plugin/packer_compiled.lua
